<div [formGroup]="form">
	<label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="question.key" [placeholder]="question?.placeholder" [id]="question.key" [type]="question.type" [attr.disabled]="question.disabled">

    <input *ngSwitchCase="'checkbox'" class="form-check-input" [formControlName]="question.key" [id]="question.key" type="checkbox" [checked]="question?.ckecked" [checked]="question?.checked" [attr.disabled]="question.disabled" [indeterminate]="question?.indeterminate">

    <input *ngSwitchCase="'number'" class="form-control" [formControlName]="question.key" [id]="question.key" type="number" [attr.disabled]="question.disabled" [min]="question?.min" [max]="question?.max"
    [attr.step]="question?.step">

    <input *ngSwitchCase="'datebox'" class="form-control" [formControlName]="question.key" [min]="question?.min" [max]="question?.max" [id]="question.key" [type]="question.type" [autocomplete]="question.autocomplete? 'on': 'off'"
    [step]="question?.step">

    <ng-select *ngSwitchCase="'dropdown'" [id]="question.key" [items]="question.options"
      [multiple]="question?.multiple" [closeOnSelect]="question?.closeOnSelect" [searchable]="question?.searchable" [clearSearchOnAdd]="question?.clearSearchOnAdd" [virtualScroll]="question?.virtualScroll"
       bindValue="{{question?.bindValue}}" bindLabel="{{question?.bindLabel}}" [disabled]="question?.disabled" formControlName="{{question.key}}">
    </ng-select>
    <div *ngSwitchCase="'searchbox'">
      <input [attr.list]="question?.listId" class="form-control" type="search" [placeholder]="question.options[0].label" [disabled]="question.disabled">
      <datalist [id]="question?.listId">
        <option *ngFor="let opt of question.options" [value]="opt.value">
        {{opt?.label}}
        </option>
      </datalist>
    </div>

    <ng-container *ngSwitchCase="'radiobutton'">
      <ng-container *ngFor="let opt of question.options">
      <input class="form-check-input" type="radio" [value]="opt.key"
      [formControlName]="question.key"
      [id]="opt.key" [attr.disabled]="opt?.disabled || question.disabled"> <label [for]="opt.key"> {{opt.value}}</label><br>
      </ng-container>
    </ng-container>

     <ng-container *ngSwitchCase="'html'">
       <div [innerHTML]="question.content"></div>
     </ng-container>

  </div> 
  <div *ngIf="!isValid" class="errorMessage">
    <small>
        {{ getErrorMessage() }}
    </small>
</div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->